.swiper {
  width: 100%;
  border-radius: 14px;
  height: 450px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width:520px){
    .swiper {
  width: 100%;
  border-radius: 0%;
  height: 750px;
}

}